* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}   

#data-table img{
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
    width: auto;
    height: auto;
}

.logo-size {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Header ====================== */

header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Lider ================ */
#leader {
    margin-top: -8rem;
}

#leader h2 {
    color: white;
    margin-top: 0;
}



/* cards ======================== */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;
    color: darkblue;
}

.card h3{
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.leader {
    background: red;
    color: white;
}


/* Table =================== */
#score {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: black;
}

table thead th {
    background: white;

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

table tr {
    opacity: 0.9;
}

table tbody tr:hover {
    opacity: 1;
}

table thead tr:first-child,
table tbody tr:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr:last-child,
table tbody tr:last-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

td.name {
    color: darkblue;
}

td.podium {
    font-size: 2rem;
    color: red;
}

td.z4 {
    color: green;
    font-size: 2rem;
}

/* Links =================== */
a {
    color: #3dd705;
    text-decoration: none;
}

a:hover{
    color: #49AA26;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: green;

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

.button.cancel {
    color: red;
    border: 2px red solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.button.cancel:hover {
    background:red;
    color: white;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
}

/* Responsive =========== */
@media (min-width: 800px) {
    html{
        font-size: 87.5%;
    }

    #leader {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}



